body, html {
    height: 100%;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 22px;
    background-color: dodgerblue;
}

.wordly {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: lavenderblush;
    text-align: justify;
    text-justify: inter-word;
    padding: 11px;
    color: lightskyblue;
}

#title {
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#introduction {
    color: black;
}