body, html {
    height: 100%;
    width: 100%;  
    background-color: dodgerblue;
    background-image: url("touch.gif");
    background-size: 50%;
}

.wordly {
    width: 600px;
    margin: 0 auto; 
    margin-top: 44px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: lavenderblush;
    text-align: justify;
    text-justify: inter-word;
    padding: 11px;
    color: lightskyblue;
}

#title {
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#end {
    color: darkorchid;
}

.images {
    margin-top: 11px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rohktekst {
    color: magenta;
    margin-left: 22px;
}

#introduction {
    color: black;
}